1. Python
    Python 3.14.2 was used for this project (any current version of Python can be used).

2. vevn
    A virrtual environment in PyCharm IDE was used for this project.

3. Amazon Web Services Command Line Interface (AWS CLI)
    Can be intalled through the PyCharm plugin packages service or from
        https://docs.aws.amazon.com/cli/v1/userguide/install-windows.html
    To verify, run
        aws --version          # The version should print out.

    To Configure AWS CLI on PyCharm for IaC deployment,
    Get access_key, secret_key, and region from your AWS console.

4. Terraform
    Can be intalled through the PyCharm plugin packages service or from
        https://www.jetbrains.com/help/pycharm/terraform.html#anr0a5_19
    To verify, run
        terraform -version     # The version should print out.

    To configure Terraform to conneting to the AWS console, run the following
        aws configure

        ## Should output the following one after the other
        AWS Access Key ID [None]: AKIAxxxxxxxx          # use access key from AWS: In IAM mode
        AWS Secret Access Key [None]: xxxxxxxxxxxxx     # use secret access key from AWS: In mode IAM
        Default region name [None]: us-east-1           # optional, it will be specified in the "main.tf"

5. Node.js
    Can be intalled through the PyCharm plugin packages service or from
        https://nodejs.org/en/download
    To verify, run
        node -v         # Output example "v24.13.0"
        npm -v          # Output example "11.6.2".

        cd lambda                  # Run the following while in the "lambda" directory
        npm init -y                # Automatically generates "package.json" file inthe lambda folder
        npm install aws-sdk        # Automatically generates "package-lock.json" in the lambda folder
        Compress-Archive -Path * -DestinationPath ../lambda_function.zip            # Create zip (include node_modules) in the project folder

